[package]
name = "yammer-llm"
version.workspace = true
edition.workspace = true

[dependencies]
thiserror.workspace = true
anyhow.workspace = true
tokio.workspace = true
tracing.workspace = true
llama_cpp.workspace = true
