[package]
name = "yammer-stt"
version.workspace = true
edition.workspace = true

[dependencies]
thiserror.workspace = true
anyhow.workspace = true
tokio.workspace = true
tracing.workspace = true
whisper-rs.workspace = true
hound.workspace = true
